.content{
  display: flex;
  gap: 14px;
  padding: 10px;
  margin-top: 50px;
  overflow-x: scroll;
  border-radius: 10px;
  border: 1px solid var(--gray_softer);
}

.hourItem{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  /* background-color: var(--bg_main); */
  padding: 4px 2px;
  min-width: 110px;
  height: 150px;
}

.hourTime{
  font-family: 'NotoSansBold';
  font-size: 12px;
}


.hourTemp{
  font-family: 'NotoSansBlack';
  font-size: 18px;
}

.hourText{
  font-family: 'NotoSans';
  color: var(--gray_soft);
  font-size: 10px;
  text-align: center;
}