.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  /* padding: 0 20px; */
  margin-top: 50px;
  height: 100%;
}

.container article{
  border: 1px solid var(--gray_softer);
  border-radius: 10px;
  padding: 10px 4px;
}

.humidity, .celsius ,.wind{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tempIcon img{
  height: 28px;
}

.humidityIcon, .windIcon,.tempIcon{
  width: 100%;
  text-align: center;
}

.humidityLabel, .celsiusLabel, .windLabel{
  text-align: center;
  font-size: 14px;
  color: var(--gray_soft);
}

.humidityValue, .celsiusValue, .windValue{
  font-family: 'NotoSansBold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 45px;
  text-align: center;
  width: 100%;
}

.humidityValue span,.windValue span, .celsiusValue span{
  font-family: 'NotoSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-left: 3px;
}