:root {
  --theme: light dark;
  --bg_main: #16161d;
  --font_color: #dedede;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: var(--theme);
  color: var(--font_color);
  background-color: var(--bg_main);
  /* background-color: #242424; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}